<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
    <%= title %>
</header>
<body>
    <div class="messageContainer">
    <% messages.map((message) => { %>
        <div class="messageCard">
            <div class="messageContent">
            <div class="text"><%= message.text %></div>
            <div class="tag-line">
                <div class="user"><%= message.user %></div>
                <div class="date"><%= message.added %></div>
            </div>
            </div>
            <a href="/message/<%= message.id %>">Open message in new window</a>
        </div>
    <% }) %>
    </div>
    <div class="newMessageLink">
        <a href="/new">Submit New Message</a>
    </div>
</body>
</html>