<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
    <%= title %>
</header>
<body>
    <div class="messageCard messageDetail">
        <div class="text"><%= message.text %></div>
        <div class="tag-line">
            <div class="date"><%= message.added %></div>
            <div class="user"><%= message.user %></div>
        </div>
    </div>
    <a href="/">Go Back to Home</a>
</body>
</html>